<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telefender.phone"
    >

    <!-- Core permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Other danger permissions (received through default dialer request) -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Possibly unnecessary permissions -->
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- Other normal level permissions (mostly) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name="com.telefender.phone.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        >

        <activity
            android:name="com.telefender.phone.gui.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:parentActivityName="com.telefender.phone.gui.MainActivity">

            <intent-filter>
                <!-- Handle links from other applications -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Populate the system chooser -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Handle links in browsers -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.telefender.phone.gui.InCallActivity"
            android:taskAffinity="telefender.InCallActivity"
            android:launchMode="singleTask"
            android:documentLaunchMode="always"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.telefender.phone.gui.IncomingCallActivity"
            android:taskAffinity="telefender.InCallActivity"
            android:screenOrientation="portrait"
            />
            
        <service
           android:name="androidx.work.impl.foreground.SystemForegroundService"
           android:foregroundServiceType="dataSync"
            />

        <service
            android:name="com.telefender.phone.data.server_related.firebase.TeleFirebaseService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.-->
<!--        See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_alert_octagon_24" />-->
<!--        &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
<!--             notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent" />-->

        <!-- TODO: Use our own channel. -->
        <!-- Sets the notification channel that push notifications should go through. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />

        <service
            android:name="com.telefender.phone.call_related.CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true"
                />
        </service>

        <receiver
            android:name=".notifications.ActiveCallNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notifications.ActiveCallNotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".notifications.IncomingCallNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notifications.IncomingCallService"
            android:enabled="true"
            android:exported="true" />

    </application>
</manifest>